body,html {
    height: 50%; 
	background: url("image.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	scroll-behavior: smooth;
	}
	
body,h1 {font-family: sans-serif}

table {
	font-family: sans-serif;
	font-size: 25px;
	border-collapse: collapse;
	width: 60%;
	color: #B40404;
	margin-bottom: 50px;
  background-color: white;
}
section{
    width: 100%;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px 0;
	height: 90px ;
    cursor: pointer;
    margin: 1px ;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #CC0000;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #CC0000;
}
section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #CC0000;
}

td {
   background: #FBFBEF;
   text-align: left;
   color: #B40404;
   padding: 5px; 
   border-style:solid;
   border-color: #FBFBEF;
}


th{
   color: #B40404;
   background-color: #FBFBEF;
   border-style:solid;
   border-color: #B40404;
  
}

h1{
   margin-top: 120px;
    color: #CC0000;
    margin-right: 15px;
    font-family: mv boli;
}
tr{
  background-color: #FBFBEF;
  }
  
table.center {
  margin-left: auto;
  margin-right: auto;
}

.labs{
  display: inline-block;
  width: 100px;
}
